<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="index.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cartorios</title>
</head>
<body>

<div class="banner">

</div>

<div class="content">
    <h1>Cartorios Home</h1>
    <p>Qual operação deseja realizar ?</p>

    <div>
        <button type="button"><span></span><a th:href="@{/cartorios/registroCartorio}">Registrar Cartorios </a></button>

        <button type="button"><span></span><a th:href="@{/cartorios}"> Listar Cartorios </a></button>

    </div>

</div>